export STACK_NAME=
export TAG_SERVICE=nextcloud
export TAG_ENV=

export CFN_NC_ARTEFACT=
export OUTPUT_TEMPLATE_FILE=
export DB_PASS=
export DB_NAME=
export DB_USER_NAME=

export NC_ADMIN_USER=
export NC_ADMIN_PASS=
export R53_ZONE=
export R53_DOMAIN=
export ISOLATION_LEVEL=Public

export ESC_CAP_PROVIDER=FARGATE_SPOT
export ESC_CAP_MIN=1
export ESC_CAP_MAX=5
export ECS_TASK_CPU=1024
export ECS_TASK_MEM=3072
export NC_VERSION=21.0.3